.up {
    border-bottom: 0.15em solid rgb(77, 79, 153);
    background-color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(77, 79, 153);
    margin-top: 1em;
}

.menu{
    color: rgb(77, 79, 153);
}


.menu:hover{
    text-decoration-line: none;
    color: rgb(87, 115, 209);
}


@font-face {
    font-family: 'Kestoy Selfie Kestoy Selfie';
    font-style: normal;
    font-weight: normal;
    src: local('Kestoy Selfie Kestoy Selfie'), url('Kestoy Selfie.woff') format('woff');
    }

.logo {
        font-family: 'Kestoy Selfie Kestoy Selfie';
        font-size: 20px;
}
