
.dt{
width: 25%;

}

.isidt{
    width: 75%;   
}

.daftardt {
    padding-left: 30px;
    
}


.det {
    color: black;
    padding: 90px;
}

.tombol {
    margin-right: 15px;
}

.rekening {
    font-size: 20px;
}